numpy~=2.2.1
opencv-python~=4.10.0.84
pyaudio==0.2.14
speechrecognition~=3.13.0
pyttsx3~=2.98
flask
paho-mqtt~=2.1.0
scikit-learn~=1.6.0
tensorflow==2.13.1  # Exemple de version compatible avec Python 3.9 à 3.10

PyYAML~=6.0.2
setuptools~=75.6.0
joblib~=1.4.2

RPi.GPIO
tensorflow
paho-mqtt
pyyaml
pytest
pandas~=2.2.3